@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Playwrite+BR:wght@300&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tektur:wght@900&family=Winky+Sans:wght@300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tektur:wght@900&family=Winky+Sans:ital,wght@1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tektur&family=Winky+Sans:ital,wght@1,300..900&display=swap');



@font-face {
    font-family: "basic";
    src: url('../fontes/hack/Hack-Bold.ttf');
}

@font-face {
    font-family: "intermediario";
    src:url(../fontes/sono/AUTHOR.txt);
}
@font-face {
    font-family: "desenho";
    src: url(../fontes/anastomosis/Anastomosis-Regular.otf);
}

* {
    margin: 0; /*remove a margem ao redor*/
    padding: 0; /*remove o preenchimento no espaço interno*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/imagemfundo.avif);
    background-size: cover;
    /*background-size: cover;
    background-repeat: repeat-y;
    background-position: center;*/
    background-attachment: fixed;
}

#container { /*container aplica a regra CSS ao elemento com id exemplo no index.html*/
    margin: 0 auto; /*define a margem superior e inferior*/
    width: 80%; /*define a largura do container com 80%*/
}

header,
nav,
main {
    float: left; /*faz com que o elemento flutue a esquerda */
}

header {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

nav.superior,
nav.topo {
    width: 100%;
    margin-bottom: 1%;
}

header {
    height: 200px;
    background-color: black;
    background-color: #b37883;
}

nav.superior {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

nav.lateral {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 29%;
    background-color: #715342
}

main {
    background-color: #EBD7C3;
    background-color:#7a5058
}

main {
    background-color: #b37883;
    border-radius: 20px;
    border: 1px dashed #7a5058;
    width: 62%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    float: right;
    font-family: "intermediario";
}
main h1 {
    font-family: "desenho";
}
main p {
    font-family: 'Dosis';
}
main p,
main h2 {
    text-indent: 2%;
}

main h2 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 2%;
}

footer {
    margin-top: 1%;
    background-color: rgb(150,100,100);
    width: 100%;
    height: 200px;
    float: left;
    font-family: 'Tektur';
}

.logo {
    width: 150px;
}

/*nav na vertical inicio*/
nav.lateral ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

nav.lateral li a {
    display: block;
    color: (0, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'basic';
}

nav.lateral li a:hover {
    background-color: #e6dac6;
    color: black;
    text-indent: 10px;
}

nav.lateral .active{
    background-color:#7a5058;
    color: (255, 0, 255, 0.8);
    font-family: 'basic';
}

/*nav vertical fim */

/*nav topo inicio */

nav.topo ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color:#c2b48a;
    position: fixed;
    top: 0%;
    width: 100%;
    text-align: center;
    font-family: 'Playwrite';
}

nav.topo li {
    display: inline-block;
}

nav.topo li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav.topo li a:hover {
    background-color: #c2b48a;
}

nav.topo .active {
    background-color: #c2b48a;
}

/* nav topo fim*/

/* nav superior inicio */

nav.superior ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #d6c3b9;
    text-align: center;
}

nav.superior li {
    float: left;
    /*border-right: 1px solid ; /*distancia entre as palavras*/
}

nav.superior li:last-child {
    border-right: none;
}

nav.superior li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav.superior li a:hover {
    background-color: white;
}

nav.superior .active {
    background-color: #d6c3b9;
}

/*nav superior fim*/
table.tabela {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
    background-color: gray
}
table.tabela th,
table.tabela td{
    border: 1px solid gray;
    padding: 2%;
    text-align: center;
}

table.tabela tr:nth-child(even) {
    background-color: black;
}

table.tabela th {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table.tabela {
    border: 1px solid red;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}

table.tabela th,
table.tabela td{
    border: 1px solid white;
    padding: 2%;
}

table.tabela tr:nth-child(even) {
    background-color: gray;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}